# Frontend
NODE_ENV=
FRONTEND_HOST=insideugal.ro
NEXT_PUBLIC_BACKEND_URL=
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=

# Backend
BACKEND_HOST=
DATABASE_URL=
JWT_SECRET=
CORS_ORIGINS=
SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# Supabase / Postgres
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
SUPABASE_JWT_SECRET=

# LLM
GEMINI_API_KEY=
OPENAI_API_KEY=

# Traefik / Coolify
TRAEFIK_HTTP_ENTRYPOINT=http
TRAEFIK_HTTPS_ENTRYPOINT=https
TRAEFIK_NETWORK=coolify
