# Frontend
NODE_ENV=
FRONTEND_HOST=
NEXT_PUBLIC_BACKEND_URL=
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=

# Backend
BACKEND_HOST=
DATABASE_URL=postgresql+asyncpg://postgres:${POSTGRES_PASSWORD}@localhost:54399/postgres
JWT_SECRET=
CORS_ORIGINS=
SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# Supabase / Postgres
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_PORT=5432
POSTGRES_HOST_PORT=54399
SUPABASE_JWT_SECRET=
SUPABASE_PUBLIC_URL=
STORAGE_FILE_SIZE_LIMIT=52428800
STORAGE_TENANT_ID=insideugal
STORAGE_REGION=local
STORAGE_BUCKET_PATH=storage

# LLM
GEMINI_API_KEY=
OPENAI_API_KEY=
HUGGINGFACE_API_KEY=

# Traefik / Coolify
TRAEFIK_HTTP_ENTRYPOINT=
TRAEFIK_HTTPS_ENTRYPOINT=
TRAEFIK_NETWORK=
