.env
.env.*
!.env.example
!.env.*.example

node_modules/
.npm-cache/
.next/
out/
dist/
build/

.venv/
venv/
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/

.DS_Store
Thumbs.db

# IDE-uri
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
*.iml
