fastapi
uvicorn[standard]
pydantic[email]
sqlalchemy
GeoAlchemy2
asyncpg
psycopg2-binary
python-dotenv
PyJWT
passlib[bcrypt]
python-multipart
httpx
supabase
pytest
pytest-asyncio
pytest-xdist
slowapi
