fastapi
uvicorn[standard]
pydantic[email]
sqlalchemy
GeoAlchemy2
asyncpg
psycopg2-binary
python-dotenv
python-jose[cryptography]
PyJWT

passlib[bcrypt]
python-multipart
httpx
pytest
pytest-asyncio
pytest-xdist
slowapi
